<div ng-controller="PropertyViewController">
<h1><a href = {{url}}><b>{{propertyData.label}}</b> ({{pid}})</a></h1>
<br>
<div class="alert alert-warning" role="alert">This will be a property view.</div>
<br>
<b>Aliases:</b> {{propertyData.aliases}}<br>
<b>Description:</b> {{propertyData.description}}<br>
<b>Uses in statements:</b> {{propertyNumbers.statements}} <br>
<b>Items with such statements:</b> {{propertyNumbers.items}} <br>
<b>Uses in statements with qualifiers:</b> {{propertyNumbers.statements_qualifiers}} <br>
<b>Uses in qualifiers:</b> {{propertyNumbers.qualifiers}} <br>
<b>Uses in references:</b> {{propertyNumbers.references}} <br>
<b>Uses in properties:</b> {{propertyNumbers.properties}} <br>
<b>Uses in total:</b> {{propertyNumbers.total}} <br>
<b>Datatype:</b> {{datatype}} <br>
<b>Related Properties:</b>
<table>         <tr ng-repeat="property in relatedProperties">
                <td> {{property}} </td>
              </tr></table>
</div>