<div ng-controller="PropertyViewController">
<h1><a href = {{url}}><b>{{propertyData.label}}</b> ({{pid}})</a></h1>
<br>
<div class="alert alert-warning" role="alert">This will be a property view.</div>
<br>

<b>Aliases:</b> <span ng-repeat="alias in propertyData.aliases">{{alias}} {{$last ? '' : ' | '}}  </span><br>
<b>Description:</b> {{propertyData.description}}<br>
<b>Uses in statements:</b> {{statementCount}} <br>
<b>Items with such statements:</b> {{itemCount}} <br>
<b>Uses in qualifiers:</b> {{qualifierCount}} <br>
<b>Uses in references:</b> {{referenceCount}} <br>
<b>Uses in total:</b> {{totalCount}} <br>
<b>Datatype:</b> {{datatype}} <br>
<b>Related Properties:</b>
<span ng-repeat="property in relatedProperties"> <a href= {{property.link}}>{{property.label}}</a>{{$last ? '' : ', '}}</span>
</div>